name: cd

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    # ====================================================
    # Versioning and Release
    # ====================================================
    semantic-release:
        name: semantic-release
        uses: ./.github/workflows/semantic-release.yml

    zerv-versioning:
        needs: semantic-release
        if: needs.semantic-release.outputs.is_valid_semantic_release == 'true'
        uses: ./.github/workflows/zerv-versioning.yml
        with:
            overridden_tag_version: ${{ needs.semantic-release.outputs.version }}

    # ====================================================
    # Test and Lint
    # ====================================================
    # test:
    #     uses: ./.github/workflows/test.yml
    #     secrets:
    #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    #         CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    # ====================================================
    # Deployment with environment
    # ====================================================
    deploy-all-env:
        needs: zerv-versioning
        uses: ./.github/workflows/deploy-all-env.yml
        with:
            semver: ${{ needs.zerv-versioning.outputs.semver }}
            pep440: ${{ needs.zerv-versioning.outputs.pep440 }}
            docker_tag: ${{ needs.zerv-versioning.outputs.docker_tag }}
            deploy_labels: '{"deploy-d": true, "deploy-n": true, "deploy-p": true}'

    # ====================================================
    # Deployment without environment
    # ====================================================
    deploy-no-env:
        needs: zerv-versioning
        uses: ./.github/workflows/deploy-no-env.yml
        with:
            semver: ${{ needs.zerv-versioning.outputs.semver }}
            pep440: ${{ needs.zerv-versioning.outputs.pep440 }}
            docker_tag: ${{ needs.zerv-versioning.outputs.docker_tag }}
