name: ci-push

on:
    push:

jobs:
    zerv-versioning:
        name: zerv-versioning
        uses: ./.github/workflows/zerv-versioning.yml
        # with:
        #     # schema: standard-base-prerelease-post
        #     schema: ""

    deploy-all-env:
        needs: zerv-versioning
        uses: ./.github/workflows/deploy-all-env.yml
        with:
            semver: ${{ needs.zerv-versioning.outputs.semver }}
            pep440: ${{ needs.zerv-versioning.outputs.pep440 }}
            docker_tag: ${{ needs.zerv-versioning.outputs.docker_tag }}
            deploy_labels: '{"deploy-d": true, "deploy-n": true, "deploy-p": true}'
