name: ci-push

on:
    push:

jobs:
    zerv-versioning:
        name: zerv-versioning
        uses: ./.github/workflows/zerv-versioning.yml
        # with:
        #     # schema: standard-base-prerelease-post
        #     schema: ""

    deploy:
        needs: zerv-versioning
        uses: ./.github/workflows/deploy.yml
        with:
            semver: ${{ needs.zerv-versioning.outputs.semver }}
            pep440: ${{ needs.zerv-versioning.outputs.pep440 }}
            docker_tag: ${{ needs.zerv-versioning.outputs.docker_tag }}
