name: ci

on:
    # Rulesets for main branch
    # - Require status checks to pass -> Require branches to be up to date before merging
    pull_request:
        types: [labeled, unlabeled, opened, synchronize, reopened]

jobs:
    check-pre-release-label:
        name: check-pre-release-label
        uses: ./.github/workflows/check-pr-label.yml
        with:
            labels: ${{ toJSON(github.event.pull_request.labels) }}
            target_label: "pre-release"

    zerv-versioning:
        name: zerv-versioning
        needs: check-pre-release-label
        uses: ./.github/workflows/zerv-versioning.yml
        with:
            schema: ${{ (needs.check-pre-release-label.outputs.has_label == 'true' && 'standard-base-prerelease-post') || '' }}

    # test:
    #     uses: ./.github/workflows/test.yml
    #     secrets:
    #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    #         CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    # pre-commit:
    #     uses: ./.github/workflows/pre-commit.yml

    deploy:
        needs: zerv-versioning
        uses: ./.github/workflows/deploy.yml
        with:
            semver: ${{ needs.zerv-versioning.outputs.semver }}
            pep440: ${{ needs.zerv-versioning.outputs.pep440 }}
            docker_tag: ${{ needs.zerv-versioning.outputs.docker_tag }}
            env: "d" # development
