name: ci

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    zerv-versioning:
        name: zerv-versioning
        uses: ./.github/workflows/zerv-versioning.yml

    test:
        uses: ./.github/workflows/test.yml
        secrets:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    pre-commit:
        uses: ./.github/workflows/pre-commit.yml

    deploy:
        needs: zerv-versioning
        uses: ./.github/workflows/deploy.yml
        with:
            version: ${{ needs.zerv-versioning.outputs.version }}
            env: "d" # development
