name: ci

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    test:
        uses: ./.github/workflows/test.yaml
        secrets:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    pre-commit:
        uses: ./.github/workflows/pre-commit.yaml

    deploy:
        uses: ./.github/workflows/deploy.yaml
        with:
            version: "dummy"
