name: ci

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    zerv-versioning:
        name: zerv-versioning
        uses: ./.github/workflows/zerv-versioning.yml
        with:
            overridden_tag_version: "1.2.400-rc.5"

    test:
        uses: ./.github/workflows/test.yml
        secrets:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    pre-commit:
        uses: ./.github/workflows/pre-commit.yml

    deploy:
        needs: zerv-versioning
        uses: ./.github/workflows/deploy.yml
        with:
            semver: ${{ needs.zerv-versioning.outputs.semver }}
            pep440: ${{ needs.zerv-versioning.outputs.pep440 }}
            docker_tag: ${{ needs.zerv-versioning.outputs.docker_tag }}
            env: "d" # development
