name: Create Tag v9.9.9

on:
    push:

permissions:
    contents: write

jobs:
    zerv-versioning:
        uses: wislertt/zerv/.github/workflows/shared-zerv-versioning.yml@dev
        # with:
        #     output_templates: >-
        #         {
        #           "docker_tag": "{{ semver_obj.docker }}",
        #           "v_semver_major": "v{{ major }}",
        #           "v_semver_major_minor": "v{{ major }}.{{ minor }}"
        #         }

    create-tags:
        needs: zerv-versioning
        uses: wislertt/zerv/.github/workflows/shared-create-tags.yml@dev
        with:
            tags: >-
                [
                  "${{ fromJson(needs.zerv-versioning.outputs.versions).v_semver_major }}",
                  "${{ fromJson(needs.zerv-versioning.outputs.versions).v_semver_major_minor }}"
                ]
