name: deploy

on:
    workflow_call:
        inputs:
            semver:
                required: true
                type: string
            pep440:
                required: true
                type: string
            docker_tag:
                required: true
                type: string
            deploy_labels:
                required: false
                type: string
                description: "JSON object with deploy labels from check-pr-labels-with-prefix"
                default: "{}"

jobs:
    deploy:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                env: [d, n, p]
        if: fromJson(inputs.deploy_labels)[format('deploy-{0}', matrix.env)]
        steps:
            - name: Echo versioning outputs
              run: |
                  echo "Deploying at env: ${{ matrix.env }}"
                  echo "Semver: ${{ inputs.semver }}"
                  echo "PEP440: ${{ inputs.pep440 }}"
                  echo "Docker Tag: ${{ inputs.docker_tag }}"
                  echo "Deploy labels: ${{ inputs.deploy_labels }}"
