name: pre-commit

on:
    workflow_call:
        inputs:
            version:
                description: "Version to deploy"
                required: true
                type: string

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Echo versioning outputs
              run: |
                  echo "Deploying version: ${{ inputs.version }}"
