name: deploy-no-env

on:
    workflow_call:
        inputs:
            semver:
                required: true
                type: string
            pep440:
                required: true
                type: string
            docker_tag:
                required: true
                type: string

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Dummy deploy without environment
              run: |
                  echo "Deploying without specific environment"
                  echo "Semver: ${{ inputs.semver }}"
                  echo "PEP440: ${{ inputs.pep440 }}"
                  echo "Docker Tag: ${{ inputs.docker_tag }}"
